<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">

        <!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->

        <encoder>

            <pattern>%d{HH:mm:ss.SSS} [%-5level] %logger{40} - %msg%n</pattern>

        </encoder>

    </appender>


    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">

        <file>log/health-project.log</file>

        <append>true</append>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">

            <!-- rollover daily -->

            <fileNamePattern>log/project-%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>

            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">

                <!-- or whenever the file size reaches 10MB -->

                <maxFileSize>40MB</maxFileSize>

            </timeBasedFileNamingAndTriggeringPolicy>

            <!-- keep 120 days' worth of history -->

            <maxHistory>120</maxHistory>

        </rollingPolicy>

        <encoder>

            <pattern>%d{HH:mm:ss.SSS} [%-5level] %-40logger - %msg%n</pattern>

        </encoder>

    </appender>

    <appender name="HEALTH_APP_LOG" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>50000</queueSize>
        <discardingThreshold>0</discardingThreshold>
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </appender>

    <root level="DEBUG">

        <!--<appender-ref ref="HEALTH_APP_LOG"/>-->
        <appender-ref ref="FILE"/>

    </root>

</configuration>
